pandas
pyarrow>=14.0.0
tqdm
boto3
huggingface_hub>=0.17.0
dask[dataframe] # Install dask with dataframe dependencies
dask[distributed]
fsspec          # File system capabilities for Dask
orjson
ujson
s3fs